*.json
*.csv
*.ipynb
research/
Odds Data/
output data/
!soccer-elo-ratings.ipynb
!home-team-advantage.ipynb
!elo_construction.ipynb
!Code Idealization.ipynb
*/__pycache__
nba_rating_load.py
__pycache__/
image_1.png
image_2.png
image_3.png
